* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;

  background-color: #462255;
  color: white;

  --dark-square-color: #7EE081;
  --light-square-color: #C3F3C0;
  --highlighted-square-color: #62A87C;
  --pip-color: #313B72;
  --arrow-color: #FF8C42;
}

.row {
  display: flex;
}

.board-outer {
  position: relative;
  & .board-piece,
  & .pip,
  & .border,
  & .check-marker {
    position: absolute;
    transform: translate(calc(var(--x) * 4rem), calc((7 - var(--y)) * 4rem));
    left: 0;
    top: 0;
    pointer-events: none;
  }

  & .board-piece {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    z-index: 2;

    transition: transform 0.2s linear;
  }

  & .pip {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--pip-color);
    left: 1.5rem;
    top: 1.5rem;

    z-index: 3;
  }

  & .border {
    width: 4rem;
    height: 4rem;
    background: center / contain no-repeat url('./assets/corners.svg');
  }

  & .check-marker {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background: radial-gradient(circle at center, red, red 15%,transparent 75%);
    z-index: 1;
  }

  & .arrows-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 32rem;
    height: 32rem;
    overflow: visible;
    pointer-events: none;
    z-index: 3;

    & .arrow-line {
      stroke: var(--arrow-color);
      stroke-width: 0.2;
      stroke-linecap: butt;
      fill: none;
      opacity: 0.7;
    }

    & .arrow-circle {
      stroke: var(--arrow-color);
      stroke-width: 0.2;
      fill: none;
      opacity: 0.7;
    }

    & .arrow-head {
      fill: var(--arrow-color);
      opacity: 0.7;
    }

    & .arrow-preview {
      opacity: 0.5;
    }
  }
}

.cell {
  width: 4rem;
  height: 4rem;
  position: relative;
  background-color: var(--light-square-color);

  &.even {
    background-color: var(--dark-square-color);
  }

  &.highlighted {
    background-color: var(--highlighted-square-color);
  }

  &.even.highlighted {
    background-color: var(--highlighted-square-color);
  }
}

.promotion-dialogue {
  border: 2px solid black;
  position: absolute;
  top: 13rem;
  left: 6rem;
  background-color: #f5f5f5;
  z-index: 3;

  & button {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    & img {
        width: 3rem;
        height: 3rem;
    }

    &:hover {
      background-color: var(--highlighted-square-color);
    }
  }

  & img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.score-widget {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: var(--light-square-color);
  color: black;
}

.score-widget.hidden {
  display: none;
}

.score {
  min-height: 1.2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.play-again-button {
  border: none;
  border-top: 2px solid black;
  background: white;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--highlighted-square-color);
  }
}

#app {
  display: flex;
  justify-content: center;
}

.moves-log-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--light-square-color);
  color: black;
}

.moves-log-header {
  display: flex;

  & button {
    background: none;
    border: 2px solid black;
    width: 2rem;
    height: 2rem;
    flex-grow: 1;
    border-bottom: none;

    & img {
      height: 2rem;
    }

    &:hover {
      background-color: var(--highlighted-square-color);
    }

    &:not(:first-child) {
      border-left: none;
    }
  }
}

.moves-log {
  display: grid;
  grid-template-columns: 2rem 5rem 5rem;
  grid-auto-rows: 2rem;
  gap: 0 0.5rem;
  overflow-y: scroll;
  border: 2px solid black;
  flex-grow: 1;
  flex-basis: 5rem;

  & > * {
    padding: 0.2rem 0.5rem;
  }

  & .active {
    background-color: var(--dark-square-color);
  }

  & :hover {
    background-color: var(--highlighted-square-color);
  }
}

label {
    display: block;

    & input {
        margin-right: 0.5rem;
    }
}

button.play-button {
    width: 100%;
    background: white;
    border: 2px solid black;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;

    &:hover {
        background-color: #88cfcf;
    }
}
